:root {
    --bg-main: #1f170f;
    --bg-card: #2c1e12;
    --accent: #ecae51;
    --text: #ffffff;
    --text-dim: rgba(255, 255, 255, 0.7);
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: var(--bg-main);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(26, 18, 11, 0.8);
    backdrop-filter: blur(10px);
}

nav ul { 
    display: flex; 
    list-style: none; 
    gap: 30px; 
}

nav ul a { 
    text-decoration: none; 
    color: var(--text-dim); 
    font-size: 0.9rem; 
    font-weight: 600; 
    transition: 0.3s; 
}

nav ul a.active, nav ul a:hover { 
    color: var(--accent); 
}

.btn-outline {
    border: 1px solid var(--accent);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    color: rgb(255, 203, 107);
    text-decoration: none;
}

.btn-outline:hover { 
    background: var(--accent); 
    color: var(--bg-main); 
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url('./Assets/coffee\ -\ background.jpg') no-repeat center center/cover;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    box-shadow: 0 0 15px var(--accent);
}

.label { 
    color: var(--accent); 
    font-size: 0.7rem; 
    letter-spacing: 3px; 
}

.hero h1 { 
    font-size: 4.5rem; 
    font-weight: 800; 
    line-height: 1.1; 
    margin: 20px 0; 
}

.hero p { 
    max-width: 600px; 
    color: var(--text-dim); 
    margin-bottom: 30px; 
    font-size: 0.9rem; 
}

.hero-btns .btn-fill {
    background: rgba(0,0,0,0.3);
    border: 1px solid var(--accent);
    color: var(--text);
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 10px;
}

.hero-btns .btn-fill.active { 
    background: var(--accent); 
    color: var(--bg-card); 
    border: none; 
}

.showcase { 
    padding: 100px 5%; 
    text-align: center; 
}

.ticker { 
    color: rgba(255,255,255,0.2); 
    font-size: 0.9rem; 
    letter-spacing: 2px; 
    margin: 40px 0; 
}

.showcase h2 { 
    font-size: 2.9rem; 
    margin-bottom: 50px; 
}

.details { 
    padding: 100px 10%; 
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}

.details-text h2 { 
    font-size: 5rem; 
    line-height: 1; 
    margin-bottom: 10px; 
}
.line { 
    width: 60px; 
    height: 3px; 
    background: white; 
    margin-bottom: 25px; 
}

.details-text p { 
    color: var(--text-dim); 
    font-size: 0.9rem; 
    margin-bottom: 30px; 
}

.details-text a {
    color: var(--accent);
}

.best-seller-frame {
    border: 2px solid var(--accent);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px var(--accent);
}

.best-seller-frame img { 
    width: 100%; 
    display: block; 
}

.drink-info-box { 
    margin-top: 20px; 
}

.drink-info-box ul { 
    list-style: none; 
    margin: 15px 0; 
    font-size: 0.8rem; 
    color: var(--text-dim); 
}

.meta-footer { 
    display: flex; 
    justify-content: space-between; 
    border-top: 1px solid #1e4d63; 
    padding-top: 15px; 
    font-size: 0.7rem; 
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px !important;
    overflow: visible !important; 
}

.swiper-slide {
    width: 220px; 
    height: 330px; 
    display: block;
    flex-direction: column;
    align-items: space-between;
    transition: all 0.6s ease-in-out;
    opacity: 1.3;  
    filter: blur(2px) brightness(0.6);
}

.swiper-slide-active {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1.5); 
    z-index:50 !important;
}

.swiper-slide-next,
.swiper-slide-prev {
    opacity: 1.7;
    z-index: 5;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.swiper-slide-active img {
    box-shadow: 0 0 30px rgba(236, 174, 81, 0.6); 
    border: 2px solid #ecae51;
}

/* --- TABLET (Max-width: 1024px) --- */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: .5rem; 
    }
    .details-grid {
        gap: 10px; 
    }
}

/* --- MOBILE (Max-width: 768px) --- */
@media (max-width: 768px) {
    header {
        flex-direction: column; 
        gap: 15px;
        padding: 20px;
    }

    nav ul {
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.5rem; 
    }

    .details-grid {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .details-text h2 {
        font-size: 3.5rem;
    }

    .line {
        margin: 0 auto 25px; 
    }

    .swiper-slide {
        width: 180px; 
        height: 280px;
    }
}

/* --- SMALL MOBILE (Max-width: 480px) --- */
@media (max-width: 480px) {
    .nav-left, .nav-right {
        display: none;
    }
    
    .hero-btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn-fill {
        width: 100%;
        margin: 0 !important;
    }
}